*{
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: fixed;
  top:0;
  width: 100%;
}

.nav input{
  border-radius: 32px;
  border:none;
  background-color: #e9e9e9;
  width: 100%;
  height: 3em;
  font-size: 15px;
  padding-left: 25px;
}

#searchbarId.searchbar{
  margin: 5px 5px 5px;
  padding-left: 40px;
}
.nav ul{
display:flex;
list-style: none;
padding: 0;
align-items: center;
}

.nav ul li{
  margin:0px 5px 0px;
  cursor: pointer;
  white-space: nowrap;
}

.login-component{
text-align: center;
}

.login-form input{
  background-color: rgb(250, 251, 252);
  border-color: rgb(223, 225, 230);
  color: rgb(9, 30, 66);
  cursor: text;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 14px;
  padding:10px 45px 10px 10px;
  height: 36px;
}

.pintrest-logo{
  display: flex;
  justify-content: center;
}


.input-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-info h4{
  margin:10px 5px 10px;
  font-weight: lighter;
}

.input-info-outer{
  display: flex;
  justify-content: center;
}

#login-button{
  padding:10px 85px 10px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #e60023;
}

#google-login-button{
  margin: 5px 5px 5px;
  padding:0px 5px 0px;
  color: gray;
  background-color: white;
  border:0.25px solid gray;
border-radius: 50px;
}

.google-login-button-content{
  display: flex;
  padding:0px;
}

.google-login-button-content h4{
margin-left: 10px;
margin-right: 25px;
}

.google-login-button-content span{
  display: flex;
  align-items: center;
  margin: 10px 10px 10px;
}

#facebook-login-button{
  margin: 5px 5px 5px;
  border: none;
  padding:0px 5px 0px;
  color: white;
  background-color: #1877f2;
  border-radius: 50px;
}

.facebook-login-button-content{
  display: flex;
}
.facebook-login-button-content span{
  display: flex;
  align-items: center;
  margin: 10px 10px 10px;
}

.facebook-login-button-content h4{
  margin-right: 15px;
}

.terms{
  padding:0px 56px 0px;
}

.terms h6{
  margin: 8px 10px 5px;
}

.end-terms h6{
  margin:5px;
}

.post-img img{
  height:300px;
}

.create-post-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #e9e9e9;
}

.create-post-form-container{
  margin: 10px;
}

.create-post-container{
border-radius: 10px;
display: flex;
padding:25px;
background-color: white;
}

.upload-post-container{
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-post-icon-container{
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-post{
  background-color:#e9e9e9;
  border:1px dashed gray;
  border-radius:10px;
  box-sizing: border-box;
  padding:10px 10px 10px;
  width:80%;

}

.create-post-form-button{
margin: 10px;
padding-left: 1em;
}

.create-post-form-button button{
  padding: 10px 85px 10px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #e60023;
}


.create-post-form input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 25px;
  height:120px;
  width: 500px;
}

.create-post-form input::placeholder {
  font-size: 25px;
}

.create-post-form input:focus{
    outline: none;
}

.upload-post-container{
margin: 10px;
}

.upload-post-container button{
  border: none;
  margin: 10px 5px 5px;
  padding: 10px 100px 10px;
  background-color:#e9e9e9;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

.home-posts{
 margin:90px 40px 0px;
 columns: 7 200px;
}

.home-posts h6{
  margin: 15px 20px 15px;
}

.home-posts a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: lighter;
}

.home-posts img{
 max-width: 100%;
 border-radius: 20px;
}

.home-posts img:hover{
filter: brightness(50%);
}

.nav-icons{
  display: flex;
  margin: 5px 5px 5px 50px;
}
.nav-icon{
  color:#767676;
  margin:5px 10px 5px;
  transform: scale(1.2);
  cursor: pointer;
}

.pintrest-logo{
  margin: 10px;
}

.searchbar-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  position: absolute;
  margin-left: 20px;
  z-index: 2;
}

.searchbar-container-outer{
  display: flex;
  width: 100%;
  align-items: center;
}

.searchbar-container-inner{
  position: relative;
  width: 100%;
}

.home-button{
  background-color: black;
  border-radius: 28px;
  height: 45px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button :nth-child(1){
  color: white;
  text-decoration: none;
}

.post-page{
  margin:75px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-page-content-card{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  border-radius: 20px;
  padding: 20px;
}

.post-page-content-img img{
  border-radius: 20px;
  max-width: 500px;
}

.post-page-content-text{
  margin: 10px;
  padding:15px;
  padding-left: 32px;
  max-width: 500px;
}

.post-page-content-icons{
  display: flex;
  justify-content: space-between;
  margin-left: 23px;
}

.post-page-content-icons-buttons{
  display: flex;
}

.post-page-content-icons-icons{
  display: flex;
  align-items: center;
  transform: scale(1.5);
}

.post-page-content-link a{
  text-decoration: underline;
  color: black;
}

.post-page-content-input input{
  padding: 10px;
font-size: 20px;
height:30px;
width: 100%;
border-radius: 20px;
border-width: 1px;
border-color: #e9e9e9;
}

.post-page-content-input button{
  padding:15px;
  border-radius: 10px;
  border:none;
  margin: 10px;
  cursor: pointer;
}

#profile-button{
  stroke-width: 2%;
  border-radius: 20px;
  font-size: 18px;
color: black;
  background-color:transparent;
  padding: 12px 12px 12px;
}

#save-button{
stroke-width: 2%;
border-radius: 20px;
font-size: 18px;
color: white;
background-color:#e60023;
padding: 12px 12px 12px;
}

.profile-page{
  margin-top:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-page button{
  padding: 15px 15px 15px;
  border-radius: 20px;
  border:none;
}
.edit-comment-buttons buttons{
  display: flex;
  align-items: flex-start;
  border:none;
  border-radius: 10px;
}

.edit-comment-buttons{
  width: 150px;
}